<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tienda virtual - Create New</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css "
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>

    <script>
        function validarArchivos() {
            const archivo = document.getElementById('archivo');
            console.log(archivo.files);
            const label = document.getElementById('texto-archivo');
            const imagenProducto = document.getElementById('imagenProducto')
            if (archivo.files.length > 0) {
                label.className = 'boton boton-seleccionado';
                label.innerText = 'Archivos seleccionados :) ';
                ///// EMPIEZA
                const file = archivo.files[0];
                const reader = new FileReader();
                reader.onload = (eventoLecturaArchivo) => {
                    const url = eventoLecturaArchivo.target.result;
                    const imagenMuestra = document.getElementById('imagen-muestra');
                    imagenMuestra.src = url;
                    imagenProducto.value = url;
                };
                reader.readAsDataURL(file);
            }
        }

    </script>

    <div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Create Product</h1>
                <p class="lead"> Enter the new product data
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <form  action="/tiendavirtual/producto/create" method="post">
            <div class="form-group">
                <label for="nombreProducto">Nombre del Producto</label>
                <input type="name" class="form-control" id="nombreProducto" name="nombreProducto"
                    placeholder="Nombre del producto">
            </div>
            <div class="form-group">
                <label for="descripcionProducto">Descripcion</label>
                <input type="description" class="form-control" id="descripcion" name="descripcion"
                    placeholder="Descripcion del producto">
            </div>
            <div class="form-group">
                <label for="codigoProducto">Codigo</label>
                <input type="code" class="form-control" id="codigoProducto" name="codigoProducto" placeholder="Codigo del producto">
            </div>
            <div class="form-group">
                <label for="precioProducto">PVP</label>
                <input type="number" 
                class="form-control" id="precioProducto" 
                name="PVP" placeholder="Precio de Venta al Publico">
            </div>

            <div class="form-group">
                <label id="texto-archivo" for="archivo">
                    Seleccionar Archivo
                </label>
                <input id="archivo"  hidden type="file" accept=".jpg" onchange="validarArchivos()">
            </div>
            <div hidden>
                <input id="imagenProducto" type="text" name="imagenProducto" >
            </div>

            <div class="form-group">
                <img id="imagen-muestra" name="imagenProducto" src="" width="300px" height="300px" alt="">
            </div>

            <button id="create" type="submit" class="btn btn-primary">Crear</button>
        </form>
    </div>


</body>

</html>