<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
    integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>

<body>

    <%- include('../partials/header') %>
<br><br><br>

  <div class="container">
    <div class="card">
      <div class="row">
        <!--Primera Columna-->
        <div class="col-md-6">
          <h5>Datos del Cliente</h5>
          <br>
          <form>
            <div class="form-group row">
              <label for="nombre" class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="nombre">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Apellido</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="Apellido">
              </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-3 col-form-label">Identificacion</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="identificacion">
              </div>
            </div>
            <div class="form-group row">
              <label for="correo" class="col-sm-3 col-form-label">Direccion</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" name="direccion">
              </div>
            </div>
          </form>
   
        </div>
        <!--Segunda Columna-->
        <div class="col-md-6">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label ">Fecha</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Calle las flores" name="Fecha">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Estado</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="En Compra/Pagado">
            </div>
          </div>

          <br>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Total</label>
            <div class="col-sm-6">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="col-md-12 float-right">

              <div class="row justify-content-md-center">
                <button type="button" class="btn btn-success ">Guardar Datos</button>
              </div>
              <br>
              <div class="row justify-content-md-center">
                  <button type="button" class="btn btn-secondary ">Añadir Item</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--Fin de la Fila -->
      </div>

      <!--Fila para Detalle de Factura -->
      <h5>Detalle de factura </h5>
      <div class="row">
        <div class="col-md-6">
          <div>
            <table class="table table-striped">
              <tr>

                </th>
              </tr>

            </table>
          </div>
          <div class="row justify-content-md-center">
            <button type="button" class="btn btn-success btn-lg btn-block">Pagar Factura</button>
          </div>
        </div>
      </div>
      <!--Fin del contenedor-->
    </div>
  </div>
</body>