<link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i> Tienda Online
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">


          <li>
              <input type=image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmLD7sIgW7OYA_m_UbcKCQoUcJhIts2jFQnVNyI4PWhWKgcD8g" width="55" height="45">
          </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Alie Express
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Add Product</a>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="">Logout</a>
        </li>

        

      </ul>
    </div>
    <h5><i class="fas fa-shopping-cart"></i></h5>
  </div>
</nav>