<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background: url('https://static.wixstatic.com/media/763a72_862e27de040b4735ab06ae2e81ff2ae3~mv2_d_2337_1200_s_2.jpg/v1/fill/w_630,h_323,al_c,q_80,usm_0.66_1.00_0.01/763a72_862e27de040b4735ab06ae2e81ff2ae3~mv2_d_2337_1200_s_2.jpg') no-repeat center top;
      background-size: cover;
      font-family: sans-serif;
      height: 100vh;
    }

    .login-box {
      width: 500px;
      height: 420px;
      background: #000;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
    }

    .login-box .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }

    .login-box h1 {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }

    .login-box label {
      margin: 0;
      padding: 0;
      font-weight: bold;
      display: block;
    }

    .login-box input {
      width: 100%;
      margin-bottom: 20px;
    }

    .login-box input[type="text"],
    .login-box input[type="password"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px;
    }

    .login-box input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #b80f22;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }

    .login-box input[type="submit"]:hover {
      cursor: pointer;
      background: #ffc107;
      color: #000;
    }

    .login-box a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }

    .login-box a:hover {
      color: #fff;
    }
  </style>

</head>

<body>

    <%const existeMensaje=mensaje%>

  <div class="login-box">
    <img src="https://doofindermedia.s3.amazonaws.com/blog/2016/12/01/vender-una-tienda-online.jpg" class="avatar" alt="Avatar Image">
    <h1>
        Clothing Store</h1>
    <form
    action="/tiendavirtual/usuario/validar"
    method="POST"
    >
      <!-- USERNAME INPUT -->
      <label for="username">User</label>
      <input type="text" id="username" name="username" placeholder="Ingresa tu nombre de usuario">
      <!-- PASSWORD INPUT -->
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña">
      <input type="submit"  value="Log In">
      <% if(existeMensaje){%>
        <p><%=mensaje%>!!</p>
    <%}%>
    </form>
  </div>
</body>

</html>