<!DOCTYPE html>
<html lang="ens">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Exito</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
                integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
                crossorigin="anonymous">

        <style>
                .jumbotron {
                background-color: #90ED76 !important;
                

                }
        </style>

</head>

<body>
        <%- include('../partials/header') %>

        <br>
        <br>
        <br>
        <br>
        <div class="container">
                <div class="jumbotron">
                        <h1 class="display-4">Compra Exitosa!</h1>
                        <p class="lead">La Orden de Compra se genero exitosamente, acerquese a la tienda mas 
                                cercana a retirarla.</p>
                        <hr class="my-4">
                        <a class="btn btn-dark btn-lg" href="http://localhost:3000/tiendavirtual/producto/home?tipo=All" >Volver Inicio.</a>
                </div>

        </div>
</body>

</html>